
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
}

[ng-app] {
  height: 100%;
}

#main {
  position: relative;
  height: 100%;

  header {
    z-index: 1;
    position: absolute;
    top: 0;

    width: 100%;
    background: #000;
    text-align: center;
    padding: 1em 0;

    img {
      max-height: 65px;
    }

    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
          display: inline-block;

          a {
            font-style: helvetica,arial,sans-serif;
            display: block;
            padding: 7px 15px;
            text-decoration: none;
            color: #39f;

            transition: all 200ms;

            &:hover {
              background: rgba(255, 255, 255, 0.2);
            }
          }

          > ul {
            display: none;
            width: 200px;
            position: absolute;

            li {
              list-style: none;
              display: block;
              background: #222;
            }
          }

          &:hover > ul {
            display: block;
          }
        }
      }
    }
  }

  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    img#main-bg {
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0.5;
    }

    .row {
      z-index: 0;
      margin-top: 150px;
      text-align: center;

      @media (max-width: 480px) {
      }

      .lhs,
      .rhs
      {
        text-align: left;
        vertical-align: top;
        margin: 0 5px 1em;
        padding: 0.5em;
        display: inline-block;
        background: rgba(0, 0, 0, 0.4);

        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      .lhs {
        width: 60%;
      }

      .rhs {
        width: 30%;

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style-position: inside;
          }
        }
      }
    }
  }

  footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    padding: 1em 0;
  }
}

#index-content {
  min-height: 200px;
  background: url('../media/loading.gif') center no-repeat;

  &.loaded {
    background: none;
  }

  h3 {
    border-bottom: 1px solid;
    margin-top: 0.5em;
  }

  p {
    max-width: 95%;
    margin: 2em auto;
    font-size: 0.9em;
    line-height: 1.65;
  }
}

